
<<<<<<< HEAD
#imgcontainer{
    position: relative;
}

#imgcontainer > img{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }
  
  .container:hover .overlay {
    opacity: 0.5;
  }

  .text {
    color: black;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #shareicon{
    cursor: pointer;
  }

  .iconthis:hover{
    filter: invert(0.5) sepia(1);
  }

  .fa {
    padding: 15px;
    font-size: 20px;

    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    color: white;
    border: 1px solid #fff;
    border-radius: 20px;
  }

  .fa-twitter {
    color: white;
    border: 1px solid #fff;
    border-radius: 20px;
  }

  .fa-google {
    color: white;
    border: 1px solid #fff;
    border-radius: 20px;
  }

  .fa-linkedin {
    color: white;
    border: 1px solid #fff;
    border-radius: 20px;
  }

  .socialMediIcons {
    text-align: center;
    margin: auto;
    display: block;
  }
  footer {
    width: 100%;
    height: 700px;
    background-color: #000;
    justify-content: flex-end;
    padding-top: 40px;
  }
  #facebook {
    display: inline-flex;
  }
  #twitter {
    display: inline-flex;
  }
  #google {
    display: inline-flex;
  }
  #linkedin {
    display: inline-flex;
  }
  #container1 {
    width: 19%;
    text-align: center;

    display: inline-flex;
  }
  #container2 {
    width: 19%;
    text-align: center;

    display: inline-flex;
  }
  #container3 {
    width: 19%;

    text-align: center;

    display: inline-flex;
  }
  .containerBlock {
    background-color: black;
    padding: 10px 40px;
  }
  .containerBlock ul {
    padding: 20px 35px 20px;
    list-style: none;
  }
  .containerBlock ul li {
    color: #fff;
  }
  #container4 {
    text-align: center;

    width: 19%;
    display: inline-flex;
  }
  #container5 {
    text-align: center;
    width: 19%;
    display: inline-flex;
  }
=======
>>>>>>> 2987f8020713e8bb549edbb7dde86d085a9c303b
